{% extends "base.html" %}
{% block title %}New Attendee List{% endblock %}

{% block content %}


    <h2>Upload attendees and preferences</h2>

    {% if form.errors %}
        <p class="error-text">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
    {% endif %}

    <form action="" method="post" enctype="multipart/form-data">
            <table>
            {{ form.as_table }}
        </table>
        {% csrf_token %}
        <input type="submit" value="Submit">
    </form>

{% endblock %}

